*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --swiper-navigation-size: 25px !important;
}

@import "./partials/colors";
@import "./partials/layout";
@import "./partials/typography";

@import "./partials/tools";
@import "./partials/buttons";
@import "./partials/spacing";

html {
  scroll-behavior: smooth;
}

body {

  width: 100%;
  height: 100dvh;
  position: relative;

  font-family: "Inter", sans-serif;

  //background: $blue-ligth;
  background: $white-dark;
}

svg, img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a,
li {
  text-decoration: none;
}

ul {
  list-style: none;
}

.background {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: $blue;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: url('../assets/images/background-green-op.png') no-repeat center center;
    opacity: 0.1;
    //filter: blur(2px);
  }

}

.border {
  border: 1px solid red;
}

@import "partials/menu";
@import "partials/dialog";
@import "partials/footer";