$border-radius: 4px;

//Primary 
// $blue: #5591BA;
// $blue-ligth: #005A98;
// $blue-dark: #001A0A;
// $blue-background: #000E00;
// $blue-footer: #0A0A0A;

$blue: #5591BA; 
$blue-ligth: #005A98;
$blue-dark: #002E4D;
$blue-background: #001A2D;
$blue-footer: #05101A;


//Secondary
$yellow: #DEE04A;
$yellow-ligth: #F2D7A3;
$yellow-dark: #C99E60;

//Gradients
$blue-g: linear-gradient(90deg, rgba(0, 46, 77, 1) 0%, rgba(0, 26, 45, 1) 100%);

//Auxiliary
$red: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

$yellow-1: #FFCE52;
$yellow-2: #FFD76B;
$yellow-3: #D9B043;

//White
$white: #FFF9E9;
$white-light: #FBF8FC;
$white-dark: #F5F8FA;

//Black
$black: #232224;
$black-light: #353436;
$black-dark: #161617;

//Gray
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #7F847D;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;
